<template name="postItem">
  <div class="post">
    <div class="post-content">
      <!--Here you can see the postItem name tag
      reference in the post_item.js file that
      there items are pulled from. 
      span is just an inline element that has
      no visual effect.-->
      <h3><a href="{{url}}">{{title}}</a>
      <span>{{domain}}</span></h3>
    </div>
    <!-- Here we make a button to link to 
    the postspage which you canfind the route at
    /lib/router.js // look at bood for this. routing
    -->
    <a href="{{pathFor 'postPage'}}" 
    class="discuss btn btn-default">Discuss</a>
  </div>
</template>