<!--
<template name="ExampleNode">
    <h1>hello world</h1>
        <p>
            This is just a page for testing. Once 
            the website is complete I will not need
            this page. Although I will point the path
            to a fake graphs HTML to post fake data
            so if there are no nodes hooked up 
            transmitting data then people will still
            be able to see what this sites function
            would look like.
        </p>
        <ul>
            <il>
                <p>
                    This is anexample of how GPS node will
                    look on this page except just a singular
                    node on the map.
                </p>
                <img src="http://i.imgur.com/2EkXhMu.png">
            </il>
            <li>
                <p>
                    Here is an example of a graph that will show up
                    on this page.
                </p>
                <img src="http://i.imgur.com/pzZMk9n.jpg">
            </li>
        </ul>
</template>
-->