<template name="temperature">
    <h2>Temperature</h2>
    <p>
     {{#with currentA}}
     <!-- Here name is actually calling the name function in ths js-->
        <ul>Array of temperature points<br>
        <!-- This is refering the the returned object of the #humid
        function from the js file of this html-->
            <a>{{this}}</a>
        </ul>
     {{/with}}
    </p>
    <div id="line-chart-container2"></div>
    <button id="add-value2">Random Temperature</button>
    <p>{{count}} Data points</p>
</template>