<!-- here we have the loyout which is also called
in /lib/router.js and is waited on for the data
to be pulled first then it is loaded. the yield
is >yield is a helper that defines a special
dynamic zone that will automatically render
whichever template corresponds to the current 
route. -->
<template name="layout">
  <div class="container">
    <header class="navbar navbar-default" role="navigation"> 
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'postList'}}">Microscope</a>
      </div>
    </header>
    <div id="main">
      {{> yield}}
    </div>
  </div>
</template>