<template name="graph">
    Hello graphs
    <p>
        In this section I will have the site cycle through
        each collection of data inputs grabbing just
        the ones for the particular node I want for the
        page and create dynamic graphs of the incoming
        data.
    </p>
    <p>
     {{#with humid}}
     <!-- Here name is actually calling the name function in ths js-->
        <ul>{{name}}
        <!-- This is refering the the returned object of the #humid
        function from the js file of this html-->
            <a>{{this}}</a>
        </ul>
     {{/with}}
    </p>
    
</template>
