<template name="Home">
    <div class="main">
	    <div class="jumbotron">
			<div class="containter">
				<h1 class="page-header">The Echo Project</h1>
			</div>
		</div>
				
		<h2 class="sub-header">
			Description
		</h2>
			<p>
				The Echo Project is a project being developed by our team of senior 
				engineers at Oklahoma State University to bring a portable weather 
				station to extreme weather situations. A portable weather station is 
				deployed in front of a tornado and the data intake is sent straight 
				to this website to see live data streaming from the node. Anyone who 
				visits the sight can download the data when they nodes are up and 
				running. 
			</p>
			<p>
				Each page will have a google maps point to see where the node is 
				along with a graph of the several sensors on the weather station 
				itself. 
			</p>
		<h2 class="sub-header">
			Purpose
		</h2>
			<p>
				Our purpose is to bring data from extreme conditions straight to
				your finger tips. Anyone can visit the site and seen where a node 
				is and see the data coming in live from the nodes. Also they will 
				be able to donwload the data from any of the sensors off of any of 
				the functioning nodes.
			</p>
				
	    <div class="row placeholders">
		    <div class="col-xs-6 col-sm-3 placeholder">
			    <a href="https://www.linkedin.com/in/marcus-whelan-99962b97">
				    <img src="http://i.imgur.com/UPAYiSs.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    </a>
			    <h4>Marcus Whelan</h4>
				    <span class="text-muted">Systems Engineer</span>
		    </div>
		    <div class="col-xs-6 col-sm-3 placeholder">
			    <a href="https://www.linkedin.com/in/wardwendy">
				    <img src="http://i.imgur.com/wxMwq5o.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    </a>
			    <h4>Wendy Ward</h4>
			        <span class="text-muted">Project Engineer</span>
		    </div>
		    <div class="col-xs-6 col-sm-3 placeholder">
		        <a href="https://www.linkedin.com/in/mikel-carpenter-722a7a112">
			        <img src="http://i.imgur.com/dMy4iXj.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    </a>
			    <h4>Mikel Carpenter</h4>
				    <span class="text-muted">Development Engineer</span>
		    </div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<a href="https://www.linkedin.com/in/scott-callaway-4aa39263">
					<img src="http://i.imgur.com/zGj0WvB.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
				</a>
				<h4>Scott Callaway</h4>
					<span class="text-muted">Design Engineer</span>
			</div>
        </div>
	</div> <!-- OFFSET -->
</template>