<template name="Home">
    <div class="main">
	    <div class="jumbotron">
			<div class="containter">
				<h1 class="page-header">The Echo Project</h1>
			</div>
		</div>
				
		<h2 class="sub-header">Description</h2>
			<p>list of text going for a long time llllllllllllllllllllllllllldddddddddddddddddddddddddddddssssssssssssss
			lllllllllllllllllllssssssssssssssssssssssssssssssssssssssssssiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiffffffffffffffffffffffffffffwwwwwwwwww
			dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
			dddddddddddaaaaaaaaaaaaaaaaaaaaaaaajjjjjjjjjjjjjjjjjjjjjjjjjjjjlllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllsssssss
			</p>
		<h2 class="sub-header">Purpose</h2>
			<p>list of text going for a long time llllllllllllllllllllllllllldddddddddddddddddddddddddddddssssssssssssss
			lllllllllllllllllllssssssssssssssssssssssssssssssssssssssssssiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiffffffffffffffffffffffffffffwwwwwwwwww
			dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
			dddddddddddaaaaaaaaaaaaaaaaaaaaaaaajjjjjjjjjjjjjjjjjjjjjjjjjjjjlllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllsssssss
			</p>
				
	    <div class="row placeholders">
		    <div class="col-xs-6 col-sm-3 placeholder">
			    <a href="https://www.linkedin.com/in/marcus-whelan-99962b97">
				    <img src="http://i.imgur.com/UPAYiSs.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    </a>
			    <h4>Marcus Whelan</h4>
				    <span class="text-muted">Systems Engineer</span>
		    </div>
		    <div class="col-xs-6 col-sm-3 placeholder">
			    <a href="https://www.linkedin.com/in/wardwendy">
				    <img src="http://i.imgur.com/oLvJxO5.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    </a>
			    <h4>Wendy Ward</h4>
			        <span class="text-muted">Project Engineer</span>
		    </div>
		    <div class="col-xs-6 col-sm-3 placeholder">
		        <a href="https://www.linkedin.com/in/mikel-carpenter-722a7a112">
			        <img src="http://i.imgur.com/dMy4iXj.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    </a>
			    <h4>Mikel Carpenter</h4>
				    <span class="text-muted">Development Engineer</span>
		    </div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<a href="https://www.linkedin.com/in/scott-callaway-4aa39263">
					<img src="http://i.imgur.com/zGj0WvB.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
				</a>
				<h4>Scott Callaway</h4>
					<span class="text-muted">Design Engineer</span>
			</div>
        </div>
	</div> <!-- OFFSET -->
</template>