<template name="Home">
    <div class="main">
	    <div class="jumbotron">
			<div class="containter">
				<h1 class="page-header">The Echo Project</h1>
			</div>
		</div>
				
		<h2 class="sub-header">
			Description
		</h2>
			<p>
				The Echo Project is a project developed by a team of senior engineers at Oklahoma State
				University that uses portable weather stations to send sensor data to this website for 
				anyone to use. These portable weather stations will be made to withstand torrential weather
				from a tornado to a hurricane. The idea for this project would be for teams to own many if not dozens of these
				portable weather stations to deploy in a grid in front of a predicted storm path; this way a 
				team can gather data from many points of a storm.
			</p>
		<h2 class="sub-header">
			Purpose
		</h2>
			<p>
				Each station will have several sensors and a gps reading device to send this information
				to this website for anyone to view. Anyone can look to see if there is a station in their 
				area. Also the data being transmitted is for anyone to download so anyone can run numbers 
				on storm data. Who knows maybe someone will produce great models using our data. 
			</p>
				
	    <div class="row placeholders">
		    <div class="col-xs-6 col-sm-3 placeholder">
			    <a href="https://www.linkedin.com/in/marcus-whelan-99962b97">
				    <img src="http://i.imgur.com/UPAYiSs.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    </a>
			    <h4>Marcus Whelan</h4>
				    <span class="text-muted">Systems Engineer</span>
		    </div>
		    <div class="col-xs-6 col-sm-3 placeholder">
			    <a href="https://www.linkedin.com/in/wardwendy">
				    <img src="http://i.imgur.com/yFUSeCd.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    </a>
			    <h4>Wendy Ward</h4>
			        <span class="text-muted">Project Engineer</span>
		    </div>
		    <div class="col-xs-6 col-sm-3 placeholder">
		        <a href="https://www.linkedin.com/in/mikel-carpenter-722a7a112">
			        <img src="http://i.imgur.com/dMy4iXj.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    </a>
			    <h4>Mikel Carpenter</h4>
				    <span class="text-muted">Development Engineer</span>
		    </div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<a href="https://www.linkedin.com/in/scott-callaway-4aa39263">
					<img src="http://i.imgur.com/CRdhCys.jpg?1" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
				</a>
				<h4>Scott Callaway</h4>
					<span class="text-muted">Design Engineer</span>
			</div>
        </div>
        <div class="Thanks">
        	<center>
        		<p>
        			A special thank you to our sponsors
        		</p>
        		<h1>
        			OKLAHOMA STORM CHASERS
        		</h1>
        	</center>
        </div>
	</div> <!-- OFFSET -->
</template>